html{
    scroll-behavior: smooth;
}

body{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 2rem;
    font-style: normal;
    padding: 0;
    margin: 0;
    background-color: #FEFFEF;
}

.great-vibes-regular{
    font-family: "Great Vibes", cursive;
    font-style: normal;
}

.header{
    color: #000;
    font-weight: 400;
    text-decoration: underline;
}

.header-small{
    color: #000;
    font-weight: 540;
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.icon-size{
    width: 2.5rem;
}
.icon-margin{
    margin: 0 0.5rem;
}

.menu-col{
    
}

.menu-section{
    padding: 0rem 2rem;
}

.menu-item{
    padding: 0.7rem 0;
}

.menu-item-name{
    font-weight: 700;
    font-size: 1.3rem;
}

.menu-item-price{
    font-weight: 700;
    text-align: right;
    font-size: 1.3rem;
}
.menu-item-description{
    font-size: 1rem;
    font-weight: 600;
}

.menu-header-center{
    padding: 0 2rem;
}

.menu-header-row{
    border-bottom: 2px solid black ;
}

.color-light{
    background-color: rgb(255, 244, 224);
}

.menu-section-right-top-corner {
    position: relative;
}

.menu-section-right-top-corner::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 55%; /* Dostosuj procent do pożądanej długości */
    width: 0;
    border-right: 2px solid #000; /* Obramowanie po prawej */
}

.menu-section-right-top-corner::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 35%; /* Dostosuj procent do pożądanej długości */
    border-top: 2px solid #000; /* Obramowanie na górze */
}

.menu-section-left-bot-corner {
    position: relative;
}

.menu-section-left-bot-corner::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 65%; /* Dostosuj procent do pożądanej długości */
    width: 0;
    border-right: 2px solid #000; /* Obramowanie po prawej */
}

.menu-section-left-bot-corner::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 35%; /* Dostosuj procent do pożądanej długości */
    border-top: 2px solid #000; /* Obramowanie na górze */
}

.menu-item-image
{
    position: relative;
    width: 100%;
    overflow: hidden; /* Ukrywa nadmiar obrazka */
    z-index: 2; /* Z-index, aby był nad innymi elementami */
    width: 50vw;
    height: 100%;
    object-fit: cover; /* Dopasowanie obrazka bez zniekształcania */
    position: absolute;
    top: 0;
    right: -50vw;
    z-index: 2;
}

@media (max-width: 768px)
{
    .menu-section{
        border-right: none;
    }
    
    .menu-section-left-bot-corner::before {
        border-right: none;
        border-top: none;
    }
    .menu-section-left-bot-corner::after {
        border-right: none;
        border-top: none;
    }
}
/* Below xl */
@media (max-width: 1200px) {
    .header-size {
        font-size: 3rem; /* Mniejszy rozmiar tekstu */
    }

    .icon-disable{
        display:none;
    }

    

}
    
    
/* Above xl */
@media (min-width: 1200px){

    .header-size {
        font-size: 4rem; /* Większy rozmiar tekstu */
    }


}   
