html{
    scroll-behavior: smooth;
}

body{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 1.25rem;
    font-style: normal;
    padding: 0;
    margin: 0;
    background-color: #FEFFEF;
}

.topbar-custom {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
    align-items: center; /* Wyśrodkowanie elementów w pionie */
    justify-content: center;
    height: 60px; /* Wysokość paska nawigacyjnego */
}

/* Stylizacja listy linków */
.topbar-custom ul {
    list-style-type: none;
    display: flex; /* Wyświetlanie elementów w jednej linii */
    margin: 0;
    padding: 0;
    align-items: center; /* Wyśrodkowanie elementów w pionie */
    height: 100%; /* Dopasowanie wysokości do paska nawigacyjnego */
    
}

.topbar-custom ul li {
    margin: 0 15px; /* Odstęp między linkami */
}

.topbar-custom ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 5px 10px;
    display: flex;
    align-items: center; /* Wyśrodkowanie tekstu wewnątrz linków */
    height: 100%; /* Dopasowanie wysokości do li */
}

.menu-body{
    margin-top: 5rem;
    margin-bottom: 5rem;
}



.header{
    color: #000;
    font-weight: 400;
    text-decoration: underline;
}

.header-small{
    color: #000;
    font-weight: 650;
    font-size: 1.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.icon-size{
    width: 2.5rem;
}
.icon-margin{
    margin: 0 0.5rem;
}
.underline{
    text-decoration: underline;
}


.menu-section{
    padding: 0rem 2rem;
    margin-top: 2rem;
    scroll-margin-top: 10vh; /* Przesuwa element o połowę wysokości okna */
    
}
.menu-item{
    padding: 0.6rem 0;
}

.menu-item-name{
    font-weight: 700;
    font-size: 1.1rem;
}

.menu-item-price{
    font-weight: 700;
    text-align: right;
    font-size: 1.1rem;
}
.menu-item-description{
    font-size: 0.9rem;
    font-weight: 600;
}

.menu-header-center{
    padding: 0 2rem;
}
.menu-header-top{
    padding: 0 2rem;
    display: none;
}
.menu-header-row{
    border-bottom: 2px solid black ;
}

.color-light{
    /*background-color: rgb(255, 244, 224);*/
    background-color: rgb(235, 224, 203);
}

.border-custom{
    border: 2px solid #000;
}

.menu-item-image
{
    position: relative;
    width: 100%;
    overflow: hidden; /* Ukrywa nadmiar obrazka */
    z-index: 2; /* Z-index, aby był nad innymi elementami */
    width: 50vw;
    height: 100%;
    object-fit: cover; /* Dopasowanie obrazka bez zniekształcania */
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: none;
}

@media (max-width: 576px)
{
    
    .padding-mobile
    {
        padding: 0 1rem;
    }


    .topbar-custom {
        position: fixed;
        display: flex;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #333;
        z-index: 1000;
        align-items: center; /* Wyśrodkowanie elementów w pionie */
        justify-content: center;
        height: 60px; /* Wysokość paska nawigacyjnego */
    }
    
    /* Stylizacja listy linków */
    .topbar-custom ul {
        list-style-type: none;
        display: flex; /* Wyświetlanie elementów w jednej linii */
        margin: 0;
        padding: 0;
        align-items: center; /* Wyśrodkowanie elementów w pionie */
        height: 100%; /* Dopasowanie wysokości do paska nawigacyjnego */
        
    }
    
    .topbar-custom ul li {
        margin: 0 15px; /* Odstęp między linkami */
    }
    
    .topbar-custom ul li a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
        padding: 5px 10px;
        display: flex;
        align-items: center; /* Wyśrodkowanie tekstu wewnątrz linków */
        height: 100%; /* Dopasowanie wysokości do li */
       
    }
}

@media (max-width: 768px)
{
    
}
/* Below xl */
@media (max-width: 1200px) {

    .menu-header-top{
        padding: 0 2rem;
        display: block;
    }

    .menu-header-center{
        padding: 0 2rem;
        display: none;
    }

    .header-size {
        font-size: 2.5rem; /* Mniejszy rozmiar tekstu */
    }

    .icon-disable{
        display:none;
    }

    

}
    
    
/* Above xl */
@media (min-width: 1200px){

    .header-size {
        font-size: 3.5rem; /* Większy rozmiar tekstu */
    }


}   
